<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>
<body>
    <h1><%=title%></h1>
    <div><b>ID:</b> <%=userData.id%></div>
    <div><b>email:</b> <%=userData.email%></div>
    <div><b>CreatedOn:</b> <%=userData.createdOn%></div>
    <a href="http://localhost:3000/books.html">Books</a>
</body>
</html>